/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: rgb(48, 48, 48);
  --color-dark: rgb(64, 64, 64);
  --color-light: rgb(194, 194, 194);
  --color-lighter: rgb(255, 255, 255);
  /* you could add an accent color for CTAs and anchor tags ;-) */
}

/* Fonts */
html {
  font-size: 18px;
  font-family: "Mukta", sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-darker);
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.3rem;
}

p {
  color: var(--color-dark);
  font-weight: 400;
}
.info_text h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.info_text p {
  line-height: 1.5;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

#contact div h2 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 1;
}

/* UI Elements */
button {
  display: inline-block;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-lighter);
}

.light_button {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 2rem;
  padding: 0.5rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

/* Menu */
nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-dark);
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  color: var(--color-lighter);
}

.header_text p {
  color: var(--color-light);
}

.header_graphics {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-darker);
}

/* Sections */

#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-light);
}
#intro h2 {
  padding-bottom: 1rem;
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-dark);
}

#cards {
  min-height: 80vh;
  padding: 5rem 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: grey;
}

#card_container {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}
.card {
  width: 95%;
  display: flex;
  flex-direction: column;
  line-height: 2;
  margin-bottom: 2rem;
  background-color: white;
  padding-bottom: 1rem;
}
.card > *:not(:first-child):not(:last-child) {
  padding-left: 0.6rem;
}
.card_name {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}
.card_slogan {
  font-size: 0.8rem;
  padding-top: 0.7rem;
  font-style: italic;
}
.card_title {
  font-size: 1.2rem;
}
.card_mail a {
  text-decoration: none;
  color: rgb(109, 108, 108);
}

.card_mail {
  padding-bottom: 1rem;
}

.card_button {
  padding-left: 1rem;
  margin-top: auto;
}
.card_button_negative {
  border: 1px solid black;
  height: 1.5rem;
  padding: 0rem 1rem;
  width: fit-content;
  text-align: center;
  background-color: white;
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
}

.card_button_positive {
  border: 1px solid black;
  height: 1.5rem;
  padding: 0rem 1rem;
  width: fit-content;
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
}

.info_text {
  width: 60vw;
  min-width: 300px;
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
}

footer h2,
footer h3 {
  color: var(--color-lighter);
}

footer a {
  color: var(--color-light);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}
